Package: server-tools
Version: 0.0.1
Section: unknown
Priority: optional
Maintainer: Vardhan <vrdhn0@gmail.com>
Standards-Version: 4.5.1
Homepage: https://github.com/vrdhn/server-tools
Architecture: all
Description: A repackaging of some tools i use on servers.
 This package contains a collection of utilities for server management.
 Includes various helper scripts and tools for system administration.
